body {
  height: 100%;
}

.card {
  opacity: 0.9;
}

/* Navigation bar definitions */
.navbar {
  padding: 0;
}
.navbar .navbar-nav .nav-link {
  padding: 1em;
}
.navbar .navbar-nav .nav-item {
  position: relative;
}

.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: #063970;
  width: 0;
  margin: 0 auto;
  height: 4px;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}
.navbar-dark .navbar-nav .nav-link {
  color: #063970;
}

.navbar-dark .navbar-brand {
  color: #063970;
}

@media screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar .navbar-nav .nav-link {
    padding: 1em 0;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0 1em;
  }
}

/* Hotel custom color */
.btn-hotel {
  background-color: #063970;
  color: #fff;
}
.btn-hotel:hover {
  background-color: #51749b;
  color: #fff;
  transition: 0.7s;
  outline-color: transparent;
  outline-style: solid;
}

.hotel-color {
  color: #063970;
}
.room-price {
  color: #021122;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}
.vertical-rule {
  border-left: "0.5px solid black";
  height: "100vh";
}

.parallax {
  background-image: url("./assets/images/parrall.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}

.header {
  position: relative;
  height: 150px;
  background-size: cover;
  background-image: url("./assets/images/image3.jpg");
  background-position: center center;
}
.header-title {
  color: #fff;
  font-size: 4rem;
  align-content: center;
}

.parallax {
  margin-top: 50px;
  color: white;
  text-shadow: 2px 2px black;
}

.animated {
  animation-duration: 1s;
}

.animated-texts h1 {
  animation: fadeInDown 1s ease-in-out;
}

.animated-texts p,
h1,
h2 {
  animation: fadeInUp 1s ease-in-out;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  60% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.bounceIn {
  animation-name: bounceIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
/* Header overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  justify-content: flex-start;
}

/* The header banner */
.header-banner {
  background-image: url("./assets/images/services-1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-banner {
  position: relative;
  height: 50vh;
}

@media only screen and (max-width: 768px) {
  .header-banner h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .header-banner h1 {
    font-size: 16px;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  height: 40px;
  text-align: center;
}

.footer-text {
  font-size: 13px;
}

.hote-color {
  display: inline-block;
  padding: 10px 20px;
  background-color: #063970;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 2rem;
}

.login-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #063970;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.register-link {
  color: #063970;
}

.butoni {
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.welcome-text {
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.43);
  padding: 20px;
}

.booking-contrainer {
  margin-top: 150px;
}

.admin-container {
  margin-top: 50px;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.admin-button {
  background-color: #063970;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hotel-service {
  margin-bottom: 70px;
}

.cardi {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

#navbarScroll {
  flex-grow: 0;
}

.about-us {
  padding-bottom: 30px;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.section-description {
  text-align: center;
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 50px;
}

.team-member-card {
  margin-bottom: 30px;
}

.team-member-card .card-img-top {
  object-fit: cover;
  height: 150px;
}

.btn-outline-info {
  color: #063970 !important;
  border: solid #063970 !important;
}

.btn-outline-primary {
  color: #063970 !important;
  border: solid #063970 !important;
}

.btn-outline-primary:hover {
  background-color: #063970 !important;
  color: #fff !important;
}

.btn-outline-info:hover {
  background-color: #063970 !important;
  color: #fff !important;
}

.btn-outline-warning {
  color: #063970 !important;
  border: solid #063970 !important;
}

.btn-outline-warning:hover {
  background-color: #063970 !important;
  color: #fff !important;
}
